/*
공통으로 쓰일 만한 컴포넌트는 여기다가 적었습니다!
각 컵포넌트에서 쓰일만한 css는 styles 폴더에 컴포넌트 이름으로 파일을 만들어서 작성해주세요!
*/

.layout {
  max-width: 600px;
  min-width: 300px;
  min-height: 600px;
  overflow: hidden;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    #FFFFFF 0%,
    #F2E1F4 33%,
    #FFE9D4 72%,
    #FFFFFF 100%
  );
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a.action {
  border: none;
  min-width: 255px;
  height: 55px;
  padding: 0 30px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
  align-content: center;
  text-align: center;
}

a.primary {
  background: #8B4CFC;
  color: #FFFFFF;
  border: none;
}

a.secondary {
  background: #DDCAFF;
  color: #8B4CFC;
}

.card {
  background: #FFFFFF;
  border-radius: 18px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  padding: 12px 20px;
}

form.large input {
  padding: 15px;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #F6F4F9;
  opacity: 0.7;
}

