.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 24px;

    h3 {
      font-family: Pretendard;
      font-size: 22px;

      strong {
        font-weight: bolder;
      }
    }

    .date-picker-button {
      background-color: #FFFFFF;
      border: none;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 10px 7px 15px;
      cursor: pointer;
      gap: 5px;

      p {
        font-family: Pretendard;
        font-size: 14px;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .date-picker {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .date-picker-item {
      margin: 0 10px;
      text-align: center;
      cursor: pointer;

      &.selected div {
        background: #8B4CFC;
        color: #FFFFFF;
      }

      .date-info {
        border-radius: 55px;
        width: 45px;
        height: 66px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
      }

      .mood-info {
        border-radius: 100%;
        width: 38px;
        height: 38px;
        margin: 6px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
      }
    }
  }

  section {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
    grid-template-rows: auto 1fr;

    .mood-chart,
    .photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 240px;
      flex: 0 1 auto;

      .add-photo {
        margin-bottom: 10px;
        background-color: #E0E1E4;
        width: 100%;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }

      .uploaded-photo {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
    }


    .mood-chart p {
      justify-content: end;
      align-items: end;
      font-family: Pretendard;
      font-weight: 600;
    }

    .photo p {
      line-height: 1.2;
    }


    .chat-summary {
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      max-height: 100%;
      overflow: hidden;
      box-sizing: border-box;
    }
  }

  .bar-graph {
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: 20px;
    align-items: flex-end;
    margin-top: 10px;
    justify-content: center;
  }


  .highlight {
    color: #8B4CFC;
  }

  .empty-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    p {
      font-family: Pretendard;
      font-size: 20px;
      font-weight: 500;
    }

    .img {
      max-width: 100%;
      height: auto;
      margin: 0;
    }

    .chat-summary {
      grid-column: 1 / -1;
    }

    .chat-button {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      span {
        font-size: 18px;
        color: #8B4CFC;
      }
    }
  }

}