.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 24px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .date-picker {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .date-picker-item {
      margin: 0 10px;
      text-align: center;
      cursor: pointer;

      &.selected div {
        background: #8B4CFC;
        color: #FFFFFF;
      }

      .date-info {
        border-radius: 55px;
        width: 45px;
        height: 66px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
      }

      .mood-info {
        border-radius: 100%;
        width: 38px;
        height: 38px;
        margin: 6px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
      }
    }
  }

  section {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
    grid-template-rows: auto 1fr; /* 첫 번째 행은 자동 크기, 두 번째 행은 남은 공간을 차지하도록 설정 */

    .mood-chart,
    .photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 240px;
      flex: 0 1 auto; /* 기본 크기를 유지하고 필요에 따라 늘어나는 설정 */

      .add-photo {
        margin-bottom: 10px;
        background-color: #E0E1E4;
        width: 100%;
        flex: 1; /* add-photo가 공간을 차지하도록 설정 */
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }
    }

    .chat-summary {
      grid-column: 1 / 3; /* 전체 열을 사용 */
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #8B4CFC;
      min-height: 200px; /* 최소 높이 설정 */
      height: 100%; /* 부모의 높이를 차지하도록 설정 */
    }
  }




  .bar-graph {
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: 20px;
    align-items: flex-end;
    margin-top: 10px;
    justify-content: center;
  }

  .bar {
    height: 100%;
    max-width: 50px;
    background-color: #f0f0f0;
    border-radius: 25px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
  }

  .fill {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    border-radius: 25px;
    transition: height 0.3s, background-color 0.3s;
  }

  .emoji {
    width: 100%;
    font-size: 24px;
    position: absolute;
    top: 0;
  }

  .highlight {
    color: #8B4CFC;
  }

  .empty-summary {
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가로 방향 가운데 정렬 */
    justify-content: center; /* 세로 방향 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    max-width: 100%; /* 최대 너비를 부모 요소에 맞춤 */
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */

    .img {
      max-width: 100%; /* 이미지 크기를 부모 요소에 맞게 조절 */
      height: auto; /* 비율에 맞춰 높이 자동 조정 */
      margin: 0;
    }
    .chat-summary {
      grid-column: 1 / -1; /* grid-column: 1/3; -> grid-column: 1 / -1;로 변경하여 전체 열을 사용 */
    }

    .chat-button {
      background-color: transparent; /* 배경을 투명으로 설정 */
      border: none; /* 테두리 제거 */
      display: flex; /* 플렉스 박스로 설정하여 아이템을 나란히 배치 */
      align-items: center; /* 수직 중앙 정렬 */
      cursor: pointer; /* 마우스 커서를 포인터로 변경 */
      padding: 10px; /* 버튼 내부 여백 */

      img {
        width: 24px; /* 아이콘의 너비 설정 */
        height: 24px; /* 아이콘의 높이 설정 */
        margin-right: 8px; /* 텍스트와의 간격 설정 */
      }
      span {
        font-size: 16px; /* 텍스트 크기 설정 */
        color: #8B4CFC; /* 텍스트 색상 설정 */
      }
    }
  }
}